@font-face {
	font-family: "TitilliumText25L 999wt";
	src: url("../TitilliumText25L.eot") format("truetype");
}
@font-face {
	font-family: "TitilliumText25L 800wt";
	src: url("../TitilliumText25L001.eot") format("truetype");
}
@font-face {
	font-family: "TitilliumText25L 600wt";
	src: url("../TitilliumText25L002.eot") format("truetype");
}
@font-face {
	font-family: "TitilliumText25L 400wt";
	src: url("../TitilliumText25L003.eot") format("truetype");
}
@font-face {
	font-family: "TitilliumText25L 250wt";
	src: url("../TitilliumText25L004.eot") format("truetype");
}
@font-face {
	font-family: "TitilliumText25L 1wt";
	src: url("../TitilliumText25L005.eot") format("truetype");
}